@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header{
  width: 80%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  width: 20%;
}

header ul{
  list-style: none;
  display: flex;
  gap: 0 50px;
}

header li{
  font-size: 1.1rem;
}

li.active{
  font-weight: 1000;
  text-decoration: underline;
}

/* Article starts here */
.article{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 0;
  padding: 100px 0;
}

.item-box{
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px 0;
}

.item-box > img{
  width: 50%;
  height: 150px;
}

.item-box > h3{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-box > p{
  width: 50%;
  text-align: right;
}

button.comments{
  width: 50%;
  padding: 5px 0;
  background: none;
  font-weight: 1000;
  box-shadow: 5px 5px 3px;
  border: 3px solid;
}

/* Article ends here */

.foot-page {
  text-align: center;
  border-top: 1px solid #000;
}

.foot-page a {
  text-decoration: none;
}
